@use "@material/typography/mdc-typography";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@font-face {
  font-family: aaltoFont;
  src: url(../Aalto-Sans/Demo_Fonts/Fontspring-DEMO-aaltosansessential-regular.otf);
}

@font-face {
  font-family: aaltoBold;
  src: url(../Aalto-Sans/Demo_Fonts/Fontspring-DEMO-aaltosansessential-bold.otf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
}

/* nav styles  */
header {
  padding: 1rem 4rem;
}

.nav-btn {
  color: #fff;
}

.links {
  -webkit-box-flex: 0.9;
      -ms-flex-positive: 0.9;
          flex-grow: 0.9;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-btn {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  place-items: center;
  cursor: pointer;
  display: none;
  color: white;
}

.admin-drop .icon {
  width: 20px;
  height: 20px;
}

.links a {
  color: white;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.links a:hover {
  color: #353790;
}

.logo {
  width: 50px;
  height: 33px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.nav-sect {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

/* responsiveness  */
@media screen and (max-width: 1080px) {
  .links {
    display: none;
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    text-align: center;
    background: #000000c9;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    max-height: 90vh;
    overflow-y: auto;
  }
  .link-dropdown {
    top: 32px;
  }
  .filter-column {
    min-height: unset;
    border-right: unset;
    border-bottom: 2px solid #D0D0D06B;
    padding-bottom: 5px;
  }
  .show {
    display: -ms-grid;
    display: grid;
    -webkit-animation: moveDown 0.3s cubic-bezier(0.71, 0.21, 0.55, 0.93) forwards;
            animation: moveDown 0.3s cubic-bezier(0.71, 0.21, 0.55, 0.93) forwards;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links a {
    margin: 20px 0;
  }
  .admin-drop {
    border-top: 2px dashed var(--orangeColor);
    top: unset;
    right: unset;
    margin-top: 5px;
    -webkit-transform: unset;
            transform: unset;
    grid-row-gap: unset;
    /* background: unset; */
    padding: 10px;
    position: relative;
  }
}

* {
  font-family: aaltoFont,sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-icons, .material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.mdc-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 4rem;
}

.landing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#00000012), to(#00000024)), url(../images/african-american-woman-with-phone-laptop-cafe.jpg) center;
  background: linear-gradient(to right, #00000012, #00000024), url(../images/african-american-woman-with-phone-laptop-cafe.jpg) center;
  background-size: cover;
  color: #ffffff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing-section .welcome {
  text-transform: uppercase;
  font-size: 22px;
  text-shadow: 1px 2px 4px #00000082;
}

.landing-section .explanation {
  text-shadow: 1px 2px 4px #00000082;
  font-family: aaltoBold,sans-serif;
  font-size: 48px;
  max-width: 420px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.landing-section .request-btn {
  color: #F8991D;
  padding: 14px;
  border-radius: 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 600;
  border: 2px solid #F8991D;
}

.landing-section .arrow-icon {
  width: 32px;
  height: auto;
  margin: 2rem 0;
}

.mdc-top-app-bar {
  background-color: unset;
}

.mdc-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.center-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100vh;
  background-color: #f1f4f7;
  overflow-y: auto;
}

.mdc-toolbar {
  max-width: 600px;
  margin: 0 auto;
}

.mk-toolbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  margin-left: 1rem;
}

.analysis-btn {
  background-color: #ffffff;
}

.analysis-btn span {
  color: #000000;
  font-weight: bold;
}

.quote-btn, .fifth-section .check-btn, .sixth-section .check-btn, .eigth-section .check-btn {
  background-color: #F8991D;
}

.quote-btn span, .fifth-section .check-btn span, .sixth-section .check-btn span, .eigth-section .check-btn span {
  color: #ffffff;
  font-weight: bold;
}

.other-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.other-links button {
  margin: 0 4px;
}

.other-links .down-icon {
  color: #ffffff;
}

.icon {
  width: 24px;
}

.mk-toolbar-nav__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mk-toolbar-nav__tabs > li {
  display: inline-block;
}

.mk-toolbar-nav__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.mk-toolbar-nav__tab:hover {
  color: #fff;
}

.mk-toolbar-nav__tab--active {
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0 -2px inset;
          box-shadow: 0 -2px inset;
}

.mdc-toolbar__title + .mk-toolbar-nav {
  margin-left: 20px;
}

.dark-section {
  background-color: #000000;
  padding: 1rem 4rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-container {
  max-width: 460px;
  min-height: 290px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.mdc-title {
  font-size: 32px;
  font-weight: 600;
}

.text-desc {
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-container span {
  position: absolute;
}

.image-container h2 {
  z-index: 3;
  position: absolute;
  text-align: center;
}

.image-container .img {
  border-radius: 20px;
  height: 350px;
  width: auto;
  max-width: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: #00000059;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

i {
  font-family: sans-serif;
}

.third-section {
  padding-top: 6rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.third-section .material-icons {
  font-size: 50px;
}

.third-section .image-container::before {
  content: "";
  background-color: unset;
}

.third-section .image-container .img {
  border-radius: 0;
  max-width: 450px;
}

.purple-title {
  color: #353790;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem 0;
}

.fourth-section {
  background-color: #353790;
  color: #ffffff;
}

.fourth-section .function-card {
  display: -ms-grid;
  display: grid;
  max-width: 390px;
  margin: 2rem 0;
}

.fourth-section .function-card .material-icons-outlined {
  color: #353790;
  font-size: 32px;
}

.fourth-section .function-card .img {
  background: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.fourth-section .mdc-title {
  margin: 10px 0;
}

.fourth-section .text-desc {
  font-size: 24px;
}

.fifth-section, .sixth-section, .eigth-section {
  background: -webkit-gradient(linear, left top, right top, from(#00000040), to(#00000040)), url("../images/typing.jpg") center;
  background: linear-gradient(to right, #00000040, #00000040), url("../images/typing.jpg") center;
  background-size: cover;
  text-align: center;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
}

.fifth-section .seo-div, .sixth-section .seo-div, .eigth-section .seo-div {
  width: 100%;
}

.fifth-section .mdc-title, .sixth-section .mdc-title, .eigth-section .mdc-title {
  font-size: 40px;
  text-shadow: 1px 2px 4px #00000036;
}

.fifth-section .check-btn, .sixth-section .check-btn, .eigth-section .check-btn {
  border-radius: 0;
  padding: 10px 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.fifth-section .check-btn span, .sixth-section .check-btn span, .eigth-section .check-btn span {
  font-size: 20px;
}

.fifth-section .site-inputs, .sixth-section .site-inputs, .eigth-section .site-inputs {
  margin: 1rem auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth-section .site-inputs .mdc-text-field, .sixth-section .site-inputs .mdc-text-field, .eigth-section .site-inputs .mdc-text-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid black;
}

.fifth-section .site-inputs .mdc-text-field2, .sixth-section .site-inputs .mdc-text-field2, .eigth-section .site-inputs .mdc-text-field2 {
  -webkit-box-flex: 0.6;
      -ms-flex-positive: 0.6;
          flex-grow: 0.6;
  border-radius: 0px 10px 10px 0px;
}

.fifth-section .text-desc, .sixth-section .text-desc, .eigth-section .text-desc {
  margin-bottom: 2rem;
}

.sixth-section {
  background: url("../images/cropped-meeting.jpg") bottom;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0 0 0;
}

.sixth-section::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #040646d9;
}

.sixth-section .white-title {
  color: #ffffff;
  z-index: 2;
}

.sixth-section .mdc-title {
  z-index: 2;
  font-size: 22px;
}

.sixth-section .mdc-heading1 {
  font-size: 40px;
}

.sixth-section .text-desc {
  font-size: 18px;
}

.sixth-section .services {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sixth-section .function-card {
  max-width: 224px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  padding: 3rem 1rem;
}

.seventh-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.seventh-section .swiper {
  width: 100%;
  height: 440px;
  margin-bottom: 2rem;
}

.seventh-section img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.seventh-section .text-desc {
  color: #353790;
  font-weight: bold;
  margin: 1rem 0;
}

.seventh-section .mdc-title {
  max-width: 600px;
}

.seventh-section .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 1px solid #353790;
  display: inline-block;
  border-radius: 50%;
  background: none;
  opacity: 1;
  margin: 0 10px;
}

.seventh-section .swiper-pagination-bullet-active {
  background: #353790;
}

.seventh-section .more-btn {
  border-radius: 0;
  padding: 24px 50px;
  color: #ffffff;
  margin: auto;
  background: #353790;
  text-transform: unset;
  font-weight: bold;
  font-size: 20px;
}

.seventh-section .logo {
  width: 250px;
}

.seventh-section .reviews-section {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0;
}

.seventh-section .review-card {
  margin: 4px;
}

.seventh-section .orange-title {
  color: #F8991D;
}

.seventh-section .orange-title i {
  margin-right: 4px;
  font-size: 36px;
}

.eigth-section {
  background: url(../images/black-men-cafe-have-business.jpg) center;
  background-size: cover;
}

.eigth-section .site-inputs .mdc-text-field, .eigth-section .site-inputs .mdc-text-field2 {
  border-radius: 0;
  margin-right: 6px;
  border-right: unset;
}

.eigth-section .site-inputs .mdc-text-field2 {
  margin-right: unset;
}

.eigth-section .site-inputs .check-btn {
  padding: 14px 50px;
}

.eigth-section .site-inputs .check-btn .mdc-button__label {
  color: black;
}

.ninth-section {
  background: #e5e5e5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-bottom: 2rem;
}

.ninth-section .text-desc {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.ninth-section .cust-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ninth-section .cust-card {
  text-align: center;
  max-width: 380px;
  margin: 10px;
  padding: 1rem;
  background: #ffffff;
  border-radius: 20px;
}

.ninth-section .cust-card .text-desc {
  font-size: 18px;
  margin: 1rem 0 2rem 0;
  border-top: 1px solid #353790;
  padding-top: 2rem;
  text-align: center;
  color: #343434;
}

.ninth-section .cust-card .loc-text {
  color: #343434;
  font-style: italic;
}

.ninth-section .ratings {
  margin: 1rem 0;
}

.ninth-section .ratings span {
  color: #F8991D;
  margin: 4px;
}

.ninth-section .more-btn {
  border-radius: 0;
  padding: 24px 50px;
  color: #ffffff;
  margin: auto;
  background: #353790;
  text-transform: unset;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 600px) {
  .mk-toolbar-nav {
    height: 64px;
    margin-left: 1.5rem;
  }
}

.addBg {
  background: #353790;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=newStyle.css.map */