// @use "@material/typography/mdc-typography";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";


$SectionPadding: 1rem 4rem;
$whiteText: #ffffff;
$blackText: #000000;
$orangeColor: #F8991D;
$purpleColor: #353790;
$btnPadding: 14px;
// $mdc-theme-primary: #F8991D;
@font-face {
    font-family: aaltoFont;
    src: url(../Aalto-Sans/Demo_Fonts/Fontspring-DEMO-aaltosansessential-regular.otf);
  }
@font-face {
    font-family: aaltoBold;
    src: url(../Aalto-Sans/Demo_Fonts/Fontspring-DEMO-aaltosansessential-bold.otf);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  // src: local('Material Icons'),
  //   local('MaterialIcons-Regular'),
  //   url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  //   url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  //   url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

@import "nav";

// @include textfield.core-styles;

@mixin flexCenter($direction,$wrap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: center;
    align-items: center;
}

*{
    font-family: aaltoFont,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.material-icons, .material-icons-outlined{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mdc-section{
  @include flexCenter(row,wrap);
  justify-content:space-between;
  padding:$SectionPadding;
}

.landing-section{
    @include flexCenter(column,wrap);
    padding: $SectionPadding;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #00000012, #00000024), url(../images/african-american-woman-with-phone-laptop-cafe.jpg) center;
    background-size: cover;
    color: $whiteText;
    justify-content: flex-end;
    .welcome{
        text-transform: uppercase;
        font-size: 22px;
        text-shadow: 1px 2px 4px #00000082;
        // font-weight: 700;
    }
    .explanation{
        text-shadow: 1px 2px 4px #00000082;
        font-family: aaltoBold,sans-serif;
        font-size: 48px;
        max-width: 420px;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .request-btn{
        color: $orangeColor;
        padding:$btnPadding;
        border-radius: 0px;
        height: max-content;
        font-weight: 600;
        border: 2px solid $orangeColor;
    }
    .arrow-icon{    
        width: 32px;
        height: auto;
        margin: 2rem 0;
    }
}
.mdc-top-app-bar{
    background-color: unset;
}
.mdc-button{width:max-content;}
.center-div{    align-items: center;}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: #f1f4f7;
    overflow-y: auto;
  }
  
  .mdc-toolbar {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .mk-toolbar-nav {
    display: flex;
    align-items: center;
    height: 56px;
    margin-left: 1rem;
  }

.analysis-btn{
  background-color: $whiteText;
  span{color: $blackText; font-weight: bold;}
}
.quote-btn{
  background-color: $orangeColor;
  span{color: $whiteText; font-weight: bold;}
}
.other-links{
  @include flexCenter(row,wrap);
  flex-grow: 0.3;
  justify-content:space-around;
  button{
    margin: 0 4px;
  }
  .down-icon{
    color:$whiteText;
  }
}
.icon{
  width:24px;
}
  .mk-toolbar-nav__tabs {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .mk-toolbar-nav__tabs > li {
    display: inline-block;
  }
  .mk-toolbar-nav__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 24px;
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: color 0.2s ease-out;
  }
  .mk-toolbar-nav__tab:hover {
    color: #fff;
  }
  .mk-toolbar-nav__tab--active {
    color: #fff;
    font-weight: 500;
    box-shadow: 0 -2px inset;
  }
  
  .mdc-toolbar__title + .mk-toolbar-nav {
    margin-left: 20px;
  }


  // second section 
.dark-section{
  background-color: $blackText;
  padding: $SectionPadding;
  color:$whiteText;
  @include flexCenter(row,wrap);
  justify-content:space-between;
}
.text-container{
max-width:460px;
min-height: 290px;
display: grid;
align-content: space-evenly;

}
.mdc-title{
  font-size:32px;
  font-weight: 600;
}
.text-desc{
  font-size: 26px;
  @include flexCenter(row,nowrap);
}
.image-container{
  position: relative;
  @include flexCenter(row,wrap);
  span{position: absolute;}
  h2{
    z-index: 3;
    position: absolute;
    text-align: center;
  }
  .img{    
    border-radius: 20px;
    height: 350px;
    width: auto;
    max-width: 310px;
    object-fit:cover;
    object-position: center;
    position: relative;
  }
  &::before{
    content:"";
    position: absolute;
    z-index: 1;
    background-color:#00000059;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
i{
  font-family:sans-serif;
}
// third section 
.third-section{
  .material-icons{
    font-size: 50px;
  }
  padding-top: 6rem;
  align-items: flex-start;
  .image-container{
    &::before{
      content:"";
      background-color:unset;
    }
    .img{
      border-radius: 0;
      max-width: 450px;
    }
  }
}
.purple-title{
  color: $purpleColor;
  font-weight: 600;
  width: max-content;
}

//fourth section
.fourth-section{
  background-color:$purpleColor;
  color: $whiteText;
  .function-card{
    display: grid;
    max-width: 390px;
    margin: 2rem 0;
    .material-icons-outlined{
      color:$purpleColor; 
      font-size: 32px;
    }
    .img{
      background: $whiteText;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      @include flexCenter(row,nowrap);
      justify-self: center;
    }
  }
  .mdc-title{margin: 10px 0;}
  .text-desc{ font-size: 24px;}
}

.fifth-section{
  background: linear-gradient(to right, #00000040, #00000040), url("../images/typing.jpg") center;
  background-size: cover;
  text-align:center;
  min-height: 80vh;
  @include flexCenter(column,wrap);
  justify-content: space-around;
  color: $whiteText;
  .seo-div{width:100%;}
  .mdc-title{font-size: 40px;text-shadow: 1px 2px 4px #00000036;}
  .check-btn{
    @extend .quote-btn;
    border-radius: 0;
    padding: 10px 50px;
    height: max-content;
    span{font-size: 20px;}
  }
  .site-inputs{
    margin: 1rem auto;
    flex-grow: 1;
    @include flexCenter(row,wrap);
    .mdc-text-field{
    flex-grow: 1;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid black;
    }
    .mdc-text-field2{
      flex-grow: 0.6;
    border-radius: 0px 10px 10px 0px;
    }
  }
  .text-desc{
    margin-bottom: 2rem;
  }
}
.sixth-section{
  @extend .fifth-section;
  background: url("../images/cropped-meeting.jpg") bottom;
  background-size: cover;
  min-height:100vh;
  position: relative;
  justify-content: space-between;
  padding: 3rem 0 0 0;
  &::before{
    content: "";
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#040646d9;
  }
  
  .white-title{
    color: $whiteText;
    z-index: 2;
  }
  .mdc-title{
    z-index: 2;
    font-size: 22px;
  }
  .mdc-heading1{
    font-size:40px;
  }
  .text-desc{
    font-size:18px;
  }
  .services{
    z-index: 2;
    width: 100%;
    @include flexCenter(row,wrap);
  }
  .function-card{
    max-width: 225px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    padding: 3rem 1rem;
  }
}
.seventh-section{
  flex-direction: column;
  align-items: flex-start;
  .swiper {
    width: 100%;
    height: 440px;
    margin-bottom: 2rem;
  }
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .text-desc{
    color: $purpleColor;
    font-weight: bold;
    margin: 1rem 0;
  }
  .mdc-title{
    max-width:600px;
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 1px solid $purpleColor;
    display: inline-block;
    border-radius: 50%;
    background: none;
    opacity: 1;
    margin: 0 10px;
  }
  .swiper-pagination-bullet-active{
    background: $purpleColor;
  }
  .more-btn{
    border-radius: 0;
    padding: 10px 50px;
    color:$whiteText;
    margin: auto;
    background: $purpleColor;
    text-transform: unset;
    font-weight: bold;
    font-size: 20px;
  }
  .logo{
    width: 250px;
  }
  .reviews-section{
    width: 100%;
    justify-content: space-between;
    margin: 3rem 0;
  }
  .review-card{
    margin:4px;
  }
  .orange-title{
    color:$orangeColor;
    i{
      margin-right: 4px;
      font-size:36px;
    }
  }
}

  @media (min-width: 600px) {
    .mk-toolbar-nav {
      height: 64px;
      margin-left: 1.5rem;
    }
  }


.addBg{
  background:$purpleColor;
  transition:0.2s;
}